<!DOCTYPE html>
<html ng-app="modalidadeModule">
<head>
	<meta charset="ISO-8859-1">
	<title>Excluir modalidade</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<script src="../resources/js/angular.min.js"></script>
	<script src="../resources/js/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/control/modalidade.js"></script>
</head>
<body ng-controller="modalidadeController">
	<div ng-include="'../util/menuAux.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Excluir modalidade</div><hr>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputCodigo" class="col-sm-1 control-label">Código</label>
				<div class="col-sm-1">
					<input type="text" class="form-control" id="inputCodigo" 
						splaceholder="Código" ng-model="modalidade.codigo" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="inputNome" class="col-sm-1 control-label">Nome</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputNome" 
						placeholder="Nome" ng-model="modalidade.nome" required disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="inputCurso" class="col-sm-1 control-label">Curso</label>
				<div class="col-sm-7">
					<select class="form-control" ng-model="modalidade.curso"
					ng-options="curso.nome for curso in cursos track by curso.codigo" disabled>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-9">
					<button type="submit" class="btn btn-default" ng-click="excluir();">Excluir</button>
				</div>
			</div>
		</form>
	</div>
	<div role="tabpanel" class="tab-pane" id="dados"><br>
		<input type="text" class="form-control" ng-model="criterio" placeholder="O que você está procurando ?" /><br>
		<table class="table table-bordered">
			<th>Código</th><th>Nome</th><th>Curso</th>
			<tr ng-repeat="modalidade in modalidades | filter:criterio" ng-click="selecionaModalidade(modalidade);">
				<td>{{modalidade.codigo}}</td>
				<td>{{modalidade.nome}}</td>
				<td>{{modalidade.curso.nome}}</td>
			</tr>
		</table>
	</div>
</body>
</html>